h2 {
  font-family: 'Courgette', cursive;
  font-size: 180px;
  text-align: center;
  color: #073773;
  font-weight: normal;
}
p {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
}
header p {
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
}
h4 {
  font-family: 'Courgette', cursive;
  font-weight: normal;
  font-size: 52px;
  line-height: 61px;
}
.white {
  text-align: center;
  color: #FFFFFF;
}
.blue {
  color: #073773;
}
.about figcaption {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
}
.styles figcaption {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
}
header {
  background: url(images/header.png) no-repeat left bottom, url(images/banner.png) no-repeat 0 87px;
  height: 795px;
}
header button {
  background: rgb(0,158,226);
  background: -moz-linear-gradient(left,  rgba(0,158,226,1) 0%, rgba(39,57,146,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(0,158,226,1) 0%,rgba(39,57,146,1) 100%);
  background: linear-gradient(to right,  rgba(0,158,226,1) 0%,rgba(39,57,146,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ee2', endColorstr='#273992',GradientType=1 );
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 60px;
  border: none;
  width: 232px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 20px;
}
nav ul {
  font-family: Raleway, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000; 
}
.bottom {
  color:  #FFFFFF;
  padding-left: 103px;
}
.top {
  color: #000000;
  padding-left: 480px;
  background: url(images/LOGO.png) no-repeat 103px 14px, url(images/swosh.png) no-repeat 0 80px;
  padding-top: 32px;
  padding-bottom: 74px;
}
nav ul li {
  display: inline-block;
  margin-right: 26px;
}
nav ul li a:hover {
  color: #3483C7;
  text-decoration: underline;
}
.bottom ul li a {
  color: #000000;   
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.circle {
  background: url(images/circle.png) no-repeat;
  padding-top: 189px;
  padding-bottom: 131px;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.aboutus p {
  width: 394px;
}
.circle button {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 60px;
  border: none;
  font-weight: 700;
  color: #3483C7;
  width: 232px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #FFFFFF;
  margin-top: 40px;
}
.start {
  background: url(images/circleheader.png) no-repeat;
  width: 460px;
  padding-top: 180px;
  padding-bottom: 150px;
  text-align: center;
}
.dance {
  background: url(images/element.png) no-repeat 1078px;
}
