h2 {
  font-family: 'Courgette', cursive;
  font-size: 180px;
  text-align: center;
  color: #073773;
  font-weight: normal;
}
p {
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
}
header p {
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}
h4 {
  font-family: 'Courgette', cursive;
  font-weight: normal;
  font-size: 52px;
  line-height: 61px;
}
.white {
  text-align: center;
  color: #FFFFFF;
}
.blue {
  color: #073773;
}
